/* friend_list */
#friend_list {
	width: 350px;
	background: white;
	height: 900px;
	border-right: 1px solid lightgray;
}

#search_box {
	width: 330px;
	height: 40px;
	border-bottom: 1px solid lightgray;
	/* background-color: RGB(208,190,231); */
	/* background-color: RGB(198,189,244); */
	padding: 30px 10px;
}

.search-text {
	height: 40px;
	width: 175px;
	background-color: #EAEDED;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	padding-left: 42px;
}

.search_input{
    position: absolute;
    padding-left: 15px;
}

.search_div{
    display: inline-flex;
    align-items: center;
}

.search_btn{
    display: inline-flex;
    position: absolute;
    padding-top: 7px;
    padding-left: 15px;
}

#friend-plus {
	margin-left: 10px;
	filter: opacity(0.6);
}

#friend-list-box {
	height: 789px;
}

#list-box::-webkit-scrollbar {
	width: 10px;
}

#list-box::-webkit-scrollbar-thumb {
	background-color: lightgray;
	border: none;
}
#modal_friend-list-box {
	/* height: 789px; */
}

#modal_list-box::-webkit-scrollbar {
	width: 10px;
}

#modal_list-box::-webkit-scrollbar-thumb {
	background-color: lightgray;
	border: none;
}

.friend-box {
	width: 320px;
	height: 50px;
	padding: 15px;
	border-bottom: 0.5px solid lightgray;
}

.friend-profil {
	background-color: aqua;
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	margin-right: 10px;
	border: 0.5px solid lightgrey;
}

.friend-title {
	font-size: 15px;
	display: inline-block;
	width: 230px;
	vertical-align: top;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.friend-msg {
	font-size: 14px;
	width: 200px;
	max-width: 200px;
	vertical-align: sub;
	color: gray;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#logout {
	background: white;
	border: 1px solid lightgray;
	display: sur;
	cursor: pointer;
}

.on {
	display: block;
}

.off {
	display: none;
}

#list-box {
	overflow: overlay;
	height: 799px;
}

.chatRoomLi {
	color: darkgray;
	font-size: 14px;
	margin-left: 5px;
}

.right {
	float: right;
}

.time {
	font-size: 10px;
	vertical-align: sub;
}

.modal-search-wrap{
	width: 100%;
	height: 40px;
}

.set-img{
    width: 50px;
    filter: contrast(0.5);
    cursor: pointer;
}

.div_select{
    border-bottom: solid 0.5px #a7a4a4;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

.div_select_wrap{
    background: white;
    border: solid 0.5px #a7a4a4;
    border-bottom: none;
    border-radius: 3px;
    width: 125px;
    position: relative;
    left: 120px;
}
.hidden{
    display: none;
}