<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/chat.css">
	<link rel="stylesheet" href="css/friends.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="js/chat.js"></script>
	<script src="js/friend.js"></script>
	<script src="js/modal.js"></script>
	<script src="/js/cmmn-ajax.js"></script>
	<script src="/js/cmmn-alert.js"></script>
	<title>대화창</title>
</head>

<body>
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<div class="header_icon">
				<img src="img/menu_profile.png" alt="" id="friendListBtn" onclick="getFriendListMenu();"> <img
					src="img/menu_chat.png" alt="" id="chatListBtn" onclick="getChatRoomListMenu()">
			</div>
			<div class="header_icon header_profile">
				<div id="logout" onclick="location.href='logout'" class='off'>로그아웃</div>
				<img src="img/my_profile.png" alt="" id="profileBtn">
			</div>
			<input type="hidden" th:value="${userId}" id="myId"> <input type="hidden" th:value="${userName}"
				id="myName">
		</div>
		<!-- 친구목록  -->
		<div id="friend_list">
			<div id="search_box">
				<div class="search_div">
					<input type="text" id="searchText" class="search-text"> <label for="searchText"
						class="search_input"> <img src="img/search.png" class="btn_img">
					</label>
				</div>
				<div class="search_btn">
					<img src="img/chat_plus.png" class="btn_img" id="chatPlusBtn" onclick="addChatRoom()"> <img
						src="img/friend-plus.png" class="btn_img" id="friend-plus" onclick="popOpen()">
				</div>
			</div>
			<div id="list-box">
				<ul id="friend-list-box">
				</ul>
				<ul id="room-list-box">
					<!-- 채팅방 목록 -->
				</ul>
			</div>
		</div>
		<!-- 채팅 창 -->
		<div id="chat" style="display: none;">
			<div id="chat_header">
				<div>
					<div id="chat_icon">
						<img src="img/anonymous_profile.png" alt="">
					</div>
					<div class="chat_title">
						<div>정치/사회/경제부</div>
						<div>멤버 40</div>
					</div>
					<div onclick="chatRoomHide();">❌</div>
				</div>

			</div>
			<div id="chat_msg_wrap">
				<div id="chat_msg_template">
					<!-- 채팅  -->
				</div>
			</div>
			<div id="chat_writer_wrap">
				<form action="" method="post" enctype="multipart/form-data">
					<div id="chat_writer_header">
						<label for="send_file"> <img src="img/send_file.png" alt="">
						</label> <input type="file" name="" id="send_file" multiple onchange="sendFile()">
						<div id="send_file_name"></div>
					</div>
					<div>
						<textarea name="" id="chat_writer" cols="30" rows="10"
							placeholder="메시지를 입력해주세요. (Enter: 전송/Shift + Enter 줄바꿈)">
                        </textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-bg" onclick="popClose()"></div>
	<div class="modal-wrap">
		<div class="modal-search-wrap">
			<div class="search_div">
				<input type="text" id="modalSearchText" class="search-text" onkeydown="searchUser(event)">
				<label for="modalSearchText" class="search_input">
					<img src="img/search.png" class="btn_img" onclick="searchUser('Click')">
				</label>
			</div>
			<div class="search_result_wrap">
				<div class="search_result">
					<div id="modal_list-box">
						<ul id="modal_friend-list-box">
							<!-- friend list -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-addChatRoom-bg" onclick="modalAddChatRoomClose()"></div>
	<div id="modal-addChatRoom">
		<div class="modal-search-wrap">
			<div class="search_wrap">
				<button type="button" value="만들기" class="btnMakeChatRoom"
					onclick="makeChatRoom();">만들기</button>
				<input type="text" id="modalSearchText" class="search-text"
					style="width: 85px" onkeyup="search_modal(event)"> <label
					for="modalSearchText" class="search_input"> <img
					src="img/search.png" class="btn_img">
				</label>
			</div>
			<div class="search_result_wrap">
				<div class="search_result">
					<div id="chatroom_list-box">
						<ul id="modal-chatroom-list-box">
							<!-- friend list -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
	const logoutWrap = document.querySelector('.header_profile');
	const logoutEl = document.getElementById('logout');

	logoutWrap.addEventListener('click', () => {
		if (logoutEl.classList == 'on')
			logoutEl.classList = 'off';
		else
			logoutEl.classList = 'on';
	});
</script>

</html>