<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/chat.css">
<link rel="stylesheet" href="css/friends.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="js/chat.js"></script>
<script src="js/friend.js"></script>
<title>Document</title>
</head>
<body>
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<div class="header_icon">
				<img src="img/menu_profile.png" alt="" id="friendListBtn"
					onclick="getFriendList()"> <img src="img/menu_chat.png"
					alt="" id="chatListBtn" onclick="getChatRoomList()">
			</div>
			<div class="header_icon header_profile">
				<div id="logout" onclick="location.href='logout'" class='off'>로그아웃</div>
				<img src="img/my_profile.png" alt="" id="profileBtn">
			</div>
		</div>
		<!-- 친구목록  -->
		<div id="friend_list">
			<div id="search_box">
				<input type="text" placeholder="Search..." id="searchText"
					class="search-text"> <label for="searchText"><img
					src="img/search.png" class="btn-img"></label> <img
					src="img/friend-plus.png" class="btn-img" id="friend-plus"
					onclick="popOpen()">
			</div>
			<div id="list-box">
				<ul id="friend-list-box">
					<li id="hong">
						<div class="friend-box">
							<div class="friend-profil"></div>
							<div class="friend-title">민석홍</div>
							<div class="friend-msg">상메상메상메</div>
						</div>
					</li>
				</ul>
				<ul id="room-list-box">
					<li>
						<div class="friend-box">
							<div class="friend-profil"></div>
							<div class="friend-title">
								채팅방<span class="chatRoomLi">3</span><span
									class="chatRoomLi right time">오후 7:30</span>
							</div>
							<div class="friend-msg">마지막 내용 가 나 다 라 마 바 사 아 자 차 카 타 파 하</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 채팅 창 -->
		<div id="chat">
			<div id="chat_header">
				<div>
					<div id="chat_icon">
						<img src="img/anonymous_profile.png" alt="">
					</div>
					<div class="chat_title">
						<div>정치/사회/경제부</div>
						<div>멤버 40</div>
					</div>
				</div>
				<div></div>
			</div>
			<div id="chat_msg_wrap">
				<div>
					<!-- 채팅 이부분 반복 -->
					<div class="chat_person_wrap">
						<div class="chat_person_profile">
							<img src="img/anonymous_profile.png" alt="">
						</div>
						<div class="chat_person">
							<div class="chat_person_name">김동진</div>
							<div class="chat_msg_flexable">
								<div class="chat_msg">아무단어나</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:33</span>
							</div>

							<div class="chat_msg_flexable">
								<div class="chat_msg">Why</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:33</span>
							</div>

							<div class="chat_msg_flexable">
								<div class="chat_msg">dom으로 꽂아넣는다.</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:34</span>
							</div>

						</div>
					</div>
					<!-- 채팅 반복 끝  -->

					<!-- 채팅 이부분 반복 -->
					<div class="chat_person_wrap">
						<div class="chat_person_profile">
							<img src="img/anonymous_profile.png" alt="">
						</div>
						<div class="chat_person">
							<div class="chat_person_name">최민재</div>
							<div class="chat_msg_flexable">
								<div class="chat_msg">하이하이</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:35</span>
							</div>

							<div class="chat_msg_flexable">
								<div class="chat_msg">나는</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:35</span>
							</div>

							<div class="chat_msg_flexable">
								<div class="chat_msg">갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재갓민재</div>
								<span class="no_read_cnt">1</span><span class="write_date">오후
									3:36</span>
							</div>

						</div>
					</div>
					<!-- 채팅 반복 끝  -->

					<!-- 나의 채팅 -->
					<div class="my_chat_wrapper">
						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:45</span>
							<div class="my_chat">나는</div>
						</div>

						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:45</span>
							<div class="my_chat">민석홍</div>
						</div>
						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:45</span>
							<div class="my_chat">구우우우우우웃</div>
						</div>
						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:47</span>
							<div class="my_chat">디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인 어려움!!!!!!!!!!!!!!디자인
								어려움!!!!!!!!!!!!!!</div>
						</div>
						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:45</span>
							<div class="my_chat">ㅠㅠㅠ</div>
						</div>
						<div class="my_chat_flexable">
							<span class="no_read_cnt">2</span><span class="write_date">오후
								3:45</span>
							<div class="my_chat">
								<img src="img/profile.jpg">
							</div>
						</div>

					</div>
					<!-- 나의 채팅 끝 -->
				</div>
			</div>
			<div id="chat_writer_wrap">
				<form action="" method="post" enctype="multipart/form-data">
					<div id="chat_writer_header">
						<label for="send_file"> <img src="img/send_file.png"
							alt="">
						</label> <input type="file" name="" id="send_file" multiple
							onchange="sendFile()">
						<div id="send_file_name"></div>
					</div>
					<div>
						<textarea name="" id="chat_writer" cols="30" rows="10"
							placeholder="메시지를 입력해주세요. (Enter: 전송/Shift + Enter 줄바꿈)">
                        </textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-bg" onclick="popClose()"></div>
	<div class="modal-wrap">
		<div class="modal-search-wrap">
			<input type="text" placeholder="Search..." id="modalSearchText"
				class="search-text"> <img src="img/search.png"
				class="btn-img">
		</div>
	</div>

</body>
<script type="text/javascript">
var logoutWrap = document.querySelector('.header_profile');
var logoutEl = document.getElementById('logout');

logoutWrap.addEventListener('click', ()=>{
	if(logoutEl.classList=='on')
		logoutEl.classList='off';
	else
		logoutEl.classList='on';
});
</script>
</html>