<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <div class="header_icon">
                <img src="img/chat.png" alt="">
                <img src="img/chat.png" alt="">
            </div>
            <div class="header_icon header_profile">
                <img src="img/chat.png" alt="">
            </div>
        </div>
        <!-- 친구목록  -->
        <div id="friend_list">
            <div id="search_box">
                <input type="text" placeholder="Search..." id="searchText">
                <label for="searchText"><img src="img/search.png" class="btn-img"></label>
                <img src="img/friend-plus.png" class="btn-img" id="friend-plus">
            </div>
            <div class="friend-list-box">
                <ul class="list-box">
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                    <li>
                        <div class="friend-box">
                            <div class="friend-profil"></div>
                            <div class="friend-title">친구친구</div>
                            <div class="friend-msg">상메상메상메</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 채팅 창 -->
        <div id="chat">
            
        </div>
    </div>
</body>
</html>