<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/sign.css">
    <!-- <link rel="stylesheet" href="css/sub.css"> -->
    <title>Sign Up</title>
</head>

<body>
    <div class="sign_up_wrap">
        <div class="sign_up">
            <div class="sign_up_tit">
                <h1 class="tit_sign_up">
                    <span>회원가입</span>
                </h1>
            </div>
            <!-- 로그인  -->
            <div class="sign_up_body">
                <div class="sign_up_input" style="margin-top:10px;">
                    <div class="profile_img">
                        <!-- <img src="img/profile.jpg" alt=""> -->
                        <img src="../static/img/who.png" alt="">
                    </div>
                    <div>
                        <span>
                            <label class="file_button" for="profile_file">프로필 사진</label>
                            <input type="file" id="profile_file" style="display:none" />
                        </span>
                        <span>
                            <input type="text" id="id" name="id" placeholder="이름" title="이름" value="">
                        </span>
                        <span>
                            <input type="text" id="email" name="email" placeholder="이메일" title="이메일" value="" style="width: 56%;">
                            <button type="button" class="btn_sign_up" id="checkEmail">이메일 확인</button>
                        </span>
                        <span>
                            <input type="password" name="password" id="password" placeholder="비밀번호">
                        </span>
                        <span>
                            <input type="password" name="passwordCheck" id="passwordCheck" placeholder="비밀번호확인">
                        </span>
                    </div>
                    <div>
                        <button type="button" class="btn_sign_up" onclick="">가입</button>
                    </div>
                </div>
            </div>

            <!-- OAUTH2  -->
            <div class="social_sign_up">

            </div>
        </div>
    </div>
    <script>
        const emailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        const space = /\s/g;
    </script>
</body>

</html>