<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/sign.css">
  <script src="/js/cmmn-ajax.js"></script>
  <title>Sign In</title>
</head>

<body>
  <div class="sign_in_wrap">
    <div class="sign_in">
      <div class="sign_in_tit">
        <h1 class="tit_sign_in">
          <span>Login</span>
        </h1>
      </div>
      <!-- 로그인  -->
      <div class="sign_in_body">
        <div class="sign_in_input" style="margin-top: 10px;">
          <div>
            <span> <input type="text" id="email" name="email" placeholder="이메일" title="이메일" value="" autofocus="">
            </span> <span> <input type="password" id="pwd" name="password" placeholder="비밀번호" title="비밀번호" value="">
            </span> <span class="sign_in_check"> <label for="rememberId"><input type="checkbox" id="rememberId">이메일
                기억하기</label>
            </span>
          </div>
          <div>
            <button type="button" class="btn_sign_in" onclick="loginAction()">로그인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- OAUTH2  -->
    <div class="social_sign_in">
      <div id="kakao">
        <img alt="" src="/img/kakao_login.png" onclick="location.href='kakao_login';">
      </div>
      <div id="naver">
        <img alt="" src="/img/naver_login.png" onclick="location.href='naver_login';">
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">
  function openPopup(url) {
    var _width = '464';
    var _height = '682';

    // 팝업을 가운데 위치시키기 위해 아래와 같이 값 구하기
    var _left = Math.ceil((window.screen.width - _width) / 2);
    var _top = Math.ceil((window.screen.height - _height) / 2);

    window.open(url, 'popup-test', 'width=' + _width + ', height=' +
      _height + ', left=' + _left + ', top=' + _top);

  }

</script>

</html>