<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <title>Document</title>
</head>
<body>
    <div id="wrap">
        <!-- header -->
        <div id="header">
            <div class="header_icon">
                <img src="img/chat.png" alt="">
                <img src="img/chat.png" alt="">
            </div>
            <div class="header_icon header_profile">
                <img src="img/chat.png" alt="">
            </div>
        </div>
        <!-- 친구목록  -->
        <div id="friend_list">

        </div>
        <!-- 채팅 창 -->
        <div id="chat">

        </div>
    </div>
</body>
</html>