@charset "utf-8";
/* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
@font-face {
	font-family: 'NanumSR';
	src: url('/font/nanum/NanumSquareRoundB.eot');
	src: url('/font/nanum/NanumSquareRoundB.eot') format('embedded-opentype'),
		 url('/font/nanum/NanumSquareRoundB.woff2') format('woff2'),
		 url('/font/nanum/NanumSquareRoundB.woff') format('woff'),
		 url('/font/nanum/NanumSquareRoundB.woff') format('woff'),
		 url('/font/nanum/NanumSquareRoundB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }


  /* - 보라( RGB(198,189,244) ) - 메인
- 보라( RGB(208,190,231) )
- 보라( RGB(182,168,223) )
- 혹시모를 진한거 ( RGB(89,71,145) ) */
  
/* Reset */
@font-face{font-family:'NanumSR';src:url('/font/nanum/NanumSquareRoundB.eot');}
*{margin:0;padding:0;box-sizing:border-box;}
body,html{width:100%;height:100%;}
/* Common */
.flex_wrap{display:flex;}
.f_sb{justify-content:space-between;}